@font-face {
  font-family: "Helvetica Bd";
  src: url("../app/fonts/HelveticaNeueLTW1G-Bd.ttf");
}
@font-face {
  font-family: "Helvetica Lt";
  src: url("../app/fonts/HelveticaNeueLTW1G-Lt.ttf");
}

@font-face {
  font-family: "Helvetica Md";
  src: url("../app/fonts/HelveticaNeueLTW1G-Md.ttf");
}

body {
  background-color: transparent !important;
  overflow-x: hidden;
}

h5 {
  color: #009a93 !important;
  font-family: "Helvetica Bd";
}

p,
ol {
  font-family: "Helvetica Lt";
}

.alert {
  margin-bottom: 0rem !important;
  padding: 1rem 0rem 0rem 1rem !important;
  border-top-left-radius: 1rem !important;
  border-top-right-radius: 1rem !important;
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.alert-header {
  color: #ffffff !important;
  margin-left: 0.25rem;
}

.alert-p {
  margin-left: 0.25rem;
}

.alert-primary {
  color: #ffffff !important;
  background-color: #009a93 !important;
  border-color: #009a93 !important;
}

.btn-primary {
  background: #009a93 !important;
  color: #ffffff !important;
  font-family: "Helvetica Lt";
  border-style: none !important;
}

.card {
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
}

.custom-toggler.navbar-toggler {
  border-color: rgb(0, 154, 147, 1);
}
.custom-toggler .navbar-toggler-icon {
background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 154, 147, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.dual-col-buttons {
  margin-top: 10rem !important;
}

.dual-col-buttons-reduced-2nd {
  margin-top: 7.5rem;
}

.dual-col-buttons-reduced {
  margin-top: 2rem !important;
}

.dual-col-buttons-multi-para {
  margin-top: 1rem !important;
}

.hero-header {
  font-size: 5rem;
  text-shadow: 2px 2px #009a93;
  font-family: "Helvetica Bd";
  opacity: 1 !important;
}

.jumbotron {
  background-color: #ffffff !important;
  margin-top: -5rem !important;
}

.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url("../add_hotspot/photo/hero-image.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.navbar-custom {
  background-color: #f4f4f4 !important;
  padding: 0 !important;
}

.navbar .nav-link {
  color: #009a93!important;
  font-family: "Helvetica Bd";
  font-size: 12px;
  padding-left: 1.5rem !important;
}

.navbar .nav-item.active {
  border-left: 1px solid #009a93;
  height: 2rem;
}

.navbar-logo-main {
  width: 8rem;
}

.navbar-toggler {
  border: 1px solid #009a93 !important;
  margin-right: 1rem;
}

.top-alert {
  background: #009a93;
  position: absolute;
  width: 75vh;
  margin-left: -2rem;
  border-top-left-radius: 1rem !important;
}

.top-alert-reduced {
  background: #009a93;
  position: absolute;
  width: 75vh;
  margin-left: -2rem;
  border-top-left-radius: 1rem !important;
}

.top-alert-header {
  color: #ffffff !important;
  margin-left: 2rem;
}

.top-alert-p {
  color: #ffffff;
  margin-left: 2rem;
}

.vl {
  border-left: 1px solid #009a93;
  height: 2rem;
  margin-top: .5rem;
  margin-right: 1rem;
}

#card-with-video-or-image {
  border-top-left-radius: 1rem !important;
  border-top-right-radius: 1rem !important;
  border-bottom-right-radius: 1rem !important;
  border-bottom-left-radius: 0 !important;
  border: none !important;
}

#dual-card {
  border-top-left-radius: 1rem !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 1rem !important;
  border-bottom-left-radius: 0 !important;
  border: none !important;
}

#dual-card-reduced {
  border-top-left-radius: 1rem !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 1rem !important;
  border-bottom-left-radius: 0 !important;
  border: none !important;
}

#dual-col-card {
  padding-top: 0rem;
  padding-right: 0rem;
  padding-left: 2rem;
}

#dual-col-machine-header {
  padding-top: 7rem !important;
}

#dual-col-p-text {
  width: 40vh;
}

#dual-single-image {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  height: 12rem !important;
}



#no-video-no-image-card {
  border-top-left-radius: 1rem !important;
  border-top-right-radius: 1rem !important;
  border-bottom-right-radius: 1rem !important;
  border-bottom-left-radius: 0rem !important;
  border: none !important;
}

#single-image {
  border-top-left-radius: 1rem !important;
  border-top-right-radius: 1rem !important;
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  height: 20rem !important;
}

#single-image-2 {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  height: 15rem !important;
}

#single-image-reduced {
  border-top-left-radius: 1rem !important;
  border-top-right-radius: 1rem !important;
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  height: 18rem !important;
}


#single-video {
  border-top-left-radius: 1rem !important;
  border-top-right-radius: 1rem !important;
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

@media only screen 
and (max-device-width : 768px) {
  .navbar .nav-item.active {
    border-left: none;
  }
}

@media only screen and (max-device-width : 414px ) {
  .navbar .nav-link {
    padding-left: 1rem !important;
  }
  #showcase-header {
    font-size: 1.5rem;
  }
}